.button {
  display: block;
  font-size: inherit;
  box-shadow: 2px 3px 8px black;
  border-radius: 50%;
  margin: 2rem 0rem 0rem 8rem;
  padding: 1rem;
  background: #000;
  color: #fff;
  border: 1px solid #6f6f6f00;
  border-color: #fff;
}
