.App {
  width: 27%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 1rem 0rem 11rem 0rem;
  background: border-box #0ea4d2;
  border-radius: 91px;
  box-shadow: 7px 5px 12px 0px white;
}
